@import "variables";

.about-title {
  margin: 0;
  padding: 5vh;
  padding-bottom: 0;
  font-family: $p;
  text-align: center;
  text-transform: uppercase;
  display: none;
}

.about-us-wrapper {
  height: 100vh;
  transition: all .25s;
  p {
    text-align: center;
    padding: 0 20vw;
  }
  h3 {
    padding-top: 10vh;
  }
}

.about-columns {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.about-left-col {
  width:40vw;
  position: relative;
  background: rgba(255,255,255, .4);
  height: 65vh;
}

.about-right-col {
  width: 60vw;
  position: relative;
  display:none;
  height: 100%;
  background: rgba(255,255,255, .4);
  height: 65vh;

  p{
    padding: 70px;
  }
}

.about-title-hide {
  display: none;
}

.team-thumbnail {
  ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
    li {
      height: 15vh;
      width: 15vh;
      img {
        height:100%;
        transition: all .25s;
        position: relative
      }
      img:hover {
        transform: scale(1.5);
        img::before {
          content: '';
          position:absolute;
          background: rgba(255,255,255, .2);
          width: 100%;
          height: 100%;
          left:0;
          top:0;
        }
      }
    }
  }
}
