@import "variables";


.appointment {
  padding: 0 0 5vh 0;
}

.appointment-large {
  font-family: $p;
  height: 100vh;
  display: flex;
  justify-content: space-around;
  .appointment-left {
    width:40vw;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background: rgba(0,0,0,.4);
    color: $dark-blue;
    h3,h5 {
      color: white;
    }
  }
  .appointment-right {
    width: 60vw;
    background: rgba(255,255,255,.65);
    h3 {
      text-align: center;
      color: $dark-blue;
    }
  }
}

.schedule-call {
  padding: 20px 60px;
  background: rgba(255,255,255,.6);
  border-radius: 5px;
}

.large-form {
  padding: 7px 1rem !important;
}
