@import "variables";


.appointment {
  // height: 15vh;
  padding: 0 0 5vh 0;
}

.appointment-large {
  font-family: $p;
  height: 100vh;
  display: flex;
  justify-content: space-around;
  .appointment-left {
    width:40vw;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background: rgba(0,0,0,.4);
    color: white;
  }
  .appointment-right {
    width: 60vw;
    background: rgba(255,255,255,.65);
    h3 {
      text-align: center;
    }
  }
}
