@import "variables";

.discount-wrapper {
  height: 7vh;
  background: $green;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: $p;
  h5 {
    margin: 0;
  }
  span {
    font-family: $h5;
    color: red;
  }
}

.carousel {
  height: 200px;
}
.indicators {
  display: none !important;
}


.phone, .online {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 0;
  color:black;
}


.phone {
  height: 7vh;
  background: $pink;
}

.online {
  height: 7vh;
  background: $cream;
}

#modal1 {
  height: 100vh;
  margin: 0;
  width: 100%;
  .row {
    margin: 0;
  }
  h5 {
    text-align: center;
  }

}

.modal-content {
  padding: 0!important;
}

.sched-submit {
  color: white;
  background: $dark-blue;
}
