@import "variables";

.gallery-label {
  text-align: center;
  padding-top: 60px;
  font-family: $h1;
  font-size: 2.5em;
  font-weight: bold;
  text-transform: capitalize;
}

.gallery {
  display: flex;
  justify-content: space-around;
  margin-bottom: 10px;
  div {
    width: 45vw;
    height: 20vh;
    background-size: cover!important;
    background-position: bottom!important;
  }
}

@media #{$medium-and-up} {
  .gallery-label {
    padding-top: 130px;
  }
  .gallery {
    div {
      height: 40vh;
    }
  }
 }

 @media #{$large-and-up} {
   .gallery {
     div {
       height: 60vh;
       background-position: center!important;
     }

   }
}
