@import "variables";

header {
  position: relative;
}

.schedule-header {
  text-align: center;
}

.nav-wrapper {
  background: $yellow;
}

.brand-logo {
  position: relative;
  width: 60vw!important;
  display: flex !important;
  align-items: center;
  z-index: 999;
  h3 {
    // width:240px;
    position: absolute;
    bottom: 15px;
    left: 100px;
    font-family: $h3;
    color: $text-dark;
  }
}

.hamburger {
  height: 100%;
  position: absolute;
  top: -7px;
  right: 5px;
  background: transparent !important;
}
