@import "variables";

header {
  position: fixed;
  z-index: 1000;
}


nav {
  position: fixed;
}



.schedule-header {
  text-align: center;
}

.nav-wrapper {
  background: $yellow;
}

.brand-logo {
  position: relative;
  width: 60vw!important;
  display: flex !important;
  align-items: center;
  z-index: 999;
  h3 {
    // width:240px;
    position: absolute;
    bottom: 15px;
    left: 100px;
    font-family: $h3;
    color: $text-dark;
  }
}

.hamburger {
  height: 100%;
  position: absolute;
  top: -7px;
  right: 5px;
  background: transparent !important;
}


header img {
  transition: all .3s;
}
.header-transform {
  transform: rotate(35deg)translateY(-10px)translateX(-10px);
  // transition: all .25s;
}

@media #{$medium-and-up} {
  nav {
       height: 12vh!important;
       .brand-logo {
         img {
           width: 130px;
         }
         h3 {
           font-size: 2em;
           bottom: 30px;
           left: 130px;
         }
       }
  }
}
