@import "variables";

header {
  position: fixed;
  z-index: 1000;
}


nav {
  position: fixed;
}



.schedule-header {
  text-align: center;
}

.nav-wrapper {
  background: $yellow;
}

.brand-logo {
  position: relative;
  width: 40vw!important;
  display: flex !important;
  align-items: center;
  z-index: 999;
  h3 {
    // width:240px;
    position: absolute;
    bottom: 15px;
    left: 100px;
    font-family: $h3;
    color: $text-dark;
  }
}

.hamburger {
  height: 100%;
  position: absolute;
  top: -7px;
  right: 5px;
  background: transparent !important;
}


header img {
  transition: all .3s;
}
.header-transform {
  transform: rotate(35deg)translateY(-10px)translateX(-10px);
  // transition: all .25s;
}

@media #{$medium-and-up} {
  nav {
       height: 12vh!important;
       .brand-logo {
         img {
           width: 130px;
         }
         h3 {
           font-size: 2em;
           bottom: 30px;
           left: 130px;
         }
       }
  }
  .header-transform {
    transform: rotate(35deg)translateY(-20px)translateX(-10px)scale(.9);
    // transition: all .25s;
  }
}

@media #{$large-and-up} {
  header {
      height: 10vh!important;
      nav {
        height: 10vh!important;
        .brand-logo{
          h3{
            top: -22px;
          }
        }
      }
      #nav-mobile {
        font-family: $p;
        width: 60vw;
        text-transform: uppercase;
        a {
          color: black;
        }
      }
  }
  .header-transform {
    transform: rotate(35deg)translateY(-25px)translateX(-10px)scale(.9);
    // transition: all .25s;
  }

}
