@import "variables";

#body-service h5 {
  font-family: $h5;
  text-align: center;
  span {
    text-align: center;
  }

}

#body-service {
  background: url('../images/background.jpg');
  background-size: cover;
}

.collapsible {
  padding: 50px 30px 50px 30px!important;
}

.service-wrap {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  h5 {
    font-family: $h5;
  }
  .spaPedi, .mani, .youth {
    width: 100%;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin: 10px 0;
    a {
      margin: 5px auto;
    }
  }
}



.services-wrapper {
  height: 25vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  // background-image: url('../images/jars.jpg');
  background-size: cover!important;
  background-position: center!important;
  margin-bottom: 10px;
  a {
    // border: 1px solid $dark-blue;
    background-blend-mode: overlay;
    padding: 20px;
    border-radius: 5px;
    color: white;
  }



  .service-menu {
    background: rgba(255, 209, 155, .7);
  }

  .voesh-special {
    background: rgba(80, 227, 194, .7);

  }
}

.side-nav .subheader {
  line-height: 20px!important;
}

@media #{$medium-and-up} {
  .services-wrapper {
    height: 40vh!important;
    .service-menu, .voesh-special {
      font-size: 2em;
      font-family: $p;
    }
  }
  .collapsible {
    padding: 120px 30px 50px 30px!important;
  }
}

.service-large {
  .about-title {
    text-align: center;
  }
  height: 100vh;
  .service-lg-inner {
    border-top-right-radius: 50px;
    border-bottom-left-radius: 50px;
    height:80vh;
    width: 90vw;
    background: rgba(0,0,0,.6);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}

.flowers {
  height: 25vh;
  width: 20vw;
  background: url('../images/flowers.png');
  background-size: contain;
  background-repeat: no-repeat;
}
.service-lg-menu {
  height: 50vh;
  display: flex;
  justify-content: space-around;
  h5 {
    background: rgba(255,255,255, .4);
  }
  span {
    float:right;
  }
}

.flowers-left {
  align-self: flex-start;
  transform:rotateX(180deg);

}
.flowers-right {
  align-self:flex-end;
  transform:rotateY(180deg);
}

.service-items {
  color: white;
}
