@import "variables";

#body-service h5 {
  font-family: $h5;
  text-align: center;
  span {
    text-align: center;
  }

}

#body-service {
  background: url('../images/background.jpg');
  background-size: cover;
}

.collapsible {
  padding: 50px 30px 50px 30px!important;
}

.service-wrap {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  h5 {
    font-family: $h5;
  }
  .spaPedi, .mani, .youth {
    width: 100%;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin: 10px 0;
    a {
      margin: 5px auto;
    }
  }
}



.services-wrapper {
  height: 25vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  // background-image: url('../images/jars.jpg');
  background-size: cover!important;
  background-position: center!important;
  margin-bottom: 10px;
  a {
    // border: 1px solid $dark-blue;
    background-blend-mode: overlay;
    padding: 20px;
    border-radius: 5px;
    color: white;
  }



  .service-menu {
    background: rgba(255, 209, 155, .7);
  }

  .voesh-special {
    background: rgba(80, 227, 194, .7);

  }
}

.side-nav .subheader {
  line-height: 20px!important;
}

@media #{$medium-and-up} {
  .services-wrapper {
    height: 40vh!important;
    .service-menu, .voesh-special {
      font-size: 2em;
      font-family: $p;
    }
  }
  .collapsible {
    padding: 120px 30px 50px 30px!important;
  }
}

.service-large {
  .about-title {
    text-align: center;
  }
  height: 100vh;
  .service-lg-inner {
    border-top-right-radius: 50px;
    border-bottom-left-radius: 50px;
    height:80vh;
    width: 90vw;
    background: rgba(0,0,0,.6);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: width 2s;
  }
}

.flowers {
  height: 40vh;
  width: 90vw;
  background: url('../images/flowers.png');
  background-size: contain;
  background-repeat: no-repeat;
}
.service-lg-menu {
  height: 50vh;
  display: flex;
  justify-content: space-around;
  font-family: $p;
  h5 {
    background: rgba(255,255,255, .4);
    text-align: center;
  }
  span {
    float:right;
  }
}

.flowers-left {
  align-self: flex-start;
  transform:rotateX(180deg);
  display: flex;
  align-items: center;
  justify-content: center;
}
.flowers-right {
  align-self:flex-end;
  transform:rotateY(180deg);
  display: flex;
  justify-content: center;
  div {
    text-align: center;
  }
}

.flower-inner-left {
  display: flex;
  align-items: center;
  width: 0;
  height: 10vh;
  background: -webkit-linear-gradient(left, rgba(255,255,255, 0), rgba(255,255,255,.44));
  background: -o-linear-gradient(left, rgba(255,255,255, 0), rgba(255,255,255,.44));
  background: -moz-linear-gradient(right, rgba(255,255,255, 0), rgba(255,255,255,.44));
  background: linear-gradient(to right, rgba(255,255,255, 0), rgba(255,255,255,.44));
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
  transition: all .5s cubic-bezier(.81,-0.02,.32,.79);
}

.service-lg-inner:hover .flower-inner-left {
      width: 90vw;
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
}

.service-description {
  transition: all .5s cubic-bezier(.81,-0.02,.32,.79);
  div {
    display: none;
  }
}
.service-lg-inner:hover .service-description {
  margin-top: 5vh;
  height: 15vh;
  width: 50vw;
  transform:rotateY(180deg);
  float: right;
  display: flex;
  // border: 3px solid  rgba(255,142,178,.55);
  background: rgba(255,255,255, .8);
  div {
    align-self: center;
    font-size: 18px;
    color: $dark-blue;
  }
}

.flower-inner-left-2 {
  width: 86vw;
  height: 2vh;
  background: -webkit-linear-gradient(left, rgba(255,142,178, 0), rgba(255,142,178,.55));
  background: -o-linear-gradient(left, rgba(255,255,255, 0), rgba(255,142,178,.55));
  background: -moz-linear-gradient(right, rgba(255,255,255, 0), rgba(255,142,178,.55));
  background: linear-gradient(to right, rgba(255,255,255, 0), rgba(255,142,178,.55));
  // border-top-right-radius: 50px;
  // border-bottom-right-radius: 50px;
}


.service-items {
  width: 20vw;
  color: white;
}

.service-lg-inner li {
  background: rgba(255,255,255, 0);
  transition: all .25s cubic-bezier(.81,-0.02,.32,.79);

}

.service-lg-inner li:hover{
  background: -webkit-linear-gradient(left, rgba(255,142,178, 0), rgba(255,142,178,.55));
  background: -o-linear-gradient(left, rgba(255,255,255, 0), rgba(255,142,178,.55));
  background: -moz-linear-gradient(right, rgba(255,255,255, 0), rgba(255,142,178,.55));
  background: linear-gradient(to right, rgba(255,255,255, 0), rgba(255,142,178,.55));
}
