@import "variables";

@media #{$medium-and-up} {
  iframe {
    height: 40vh;
  }
}

.social-media {
  text-align: center;
  color: $dark-blue;
  padding: 2px;
  margin: 0 5px;
  border-radius: 5px;
  border: 1px solid $dark-blue;
}

.social-media-icons {
  margin-bottom: 10px;
  display: flex;
  justify-content: space-around;
  a {
    width: 50px;
    height: 50px;
    background: black;
    transition: all .25s;
  }

  a:hover {
    transform: translateY(-10px);
  }
}

.chit-chat {
  display:flex;
  justify-content: space-around;
}
