@import "variables";

.topSlider {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  position: relative;
  // background: $dark-bg-hover;
  opacity: .8;
  padding: 20px 0;
  transition: all .25s;
}


.topSlideShow {
  width: 100%;
  height: 30vh;
}

@media screen and (min-width: 600px){
  .topSlideShow {
    height: 55vh;
  }
}

.swiper-slide {
  background-repeat: no-repeat !important;
  background-size: cover !important;
  background-position: center!important;
}




.right-pag {
  margin: 2vh;
}
