@import "variables";
.filler {
  height:8vh;
}
.topSlider {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  position: relative;
  opacity: .8;
  padding: 20px 0;
  transition: all .25s;
}





.swiper-slide {
  background-repeat: no-repeat !important;
  background-size: cover !important;
  background-position: center!important;
}


.right-pag {
  margin: 2vh;
}

.swiper-container {
    width: 100%;
    height: 100%;
    background: #000;
}
.swiper-slide {
    font-size: 18px;
    color:#fff;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 40px 60px;
    background: rgba(0,0,0, .4);
    height:100%;
    padding: 5px;
    padding-top: 20px;
}

@media screen and (min-height: 374px){
  .swiper-slide {
    padding: 50px;
  }
}

.parallax-bg {
    position: absolute;
    left: 0;
    top: 0;
    width: 130%;
    height: 100%;
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center;
}
.swiper-slide .title {
    font-size: 36px;
    font-weight: 300;
    font-family: $h1;
}
.swiper-slide .subtitle {
    font-size: 21px;
    font-family: $p;
}
.swiper-slide .text {
    font-size: 14px;
    max-width: 400px;
    line-height: 1.3;
}

.topSlideShow {
  height: 35vh;
}

@media #{$medium-and-up} {
  .topSlideShow {
    height: 45vh;
  }
  .swiper-slide {
    .title {
      font-size: 2.5em;
    }
    .subtitle {
      font-size: 1.3em;
    }
    .text {
      font-size: 1em;
    }
  }

}
