$h1 : 'Lobster';
$h2 : 'Lobster';
$h3 : 'Lobster';
$h4 : 'Lobster';
$h5 : 'Lobster';
$h6 : 'Lobster';
$p : 'Raleway';

$yellow : #FFD173;
$text-dark: #333533;
$green : #A5E164;
$pink : #ee6e73;
$dark-blue: #4B4E6D;
$cream : #E8EDDF;
