@import "normalize";
@import "materialize";
@import "variables";
@import "header";
@import "discount";
@import "hamburgers/hamburgers";
@import "swiper.min";
@import "topSlider";
@import "social-media";
@import "services";

body {
  background: rgba(255, 209, 155, .25);
  .services-wrapper {
      background: url('images/relax-stone.jpg');
  }
}
