@import "normalize";
@import "materialize";
@import "variables";
@import "header";
@import "discount";
@import "hamburgers/hamburgers";
@import "swiper.min";
@import "topSlider";
@import "social-media";
@import "services";
@import "voesh";
@import "promotions";
@import "gallery";

body {
  background: rgba(255, 209, 155, .25);
  position:relative;
}

p {
  font-family: 'Raleway',sans-serif;
}
