@import "normalize";
@import "materialize";
@import "variables";
@import "header";
@import "about";
@import "discount";
@import "hamburgers/hamburgers";
@import "swiper.min";
@import "topSlider";
@import "social-media";
@import "services";
@import "voesh";
@import "promotions";
@import "gallery";
@import "animate";
@import "appointment";
@import "footer";

body {
  background: white!important;
  position:relative;
}

p {
  font-family: 'Raleway',sans-serif;
}
